/* h1{
    color: beige;
    background-color: brown;
}
h3{
    color: azure;
    background-color: black;
    font-size: large;
    font-size: 100px;
}
pre{
    color: beige;
    background-color: brown;
    font-size: 70px;
}
p{
    color: darkgreen;
    background-color: lightgray;
    font-size: 70px;
}
h2{
    color: lightcyan;
    background-color: darkred;
} */
.t_transform_uppercase{
    text-transform: uppercase;
}
.t_transform_lowercase{
    text-transform: lowercase;
}
.t_transform_capitilize{
    text-transform: capitalize;
}
.t_decor_underline{
    text-decoration: underline;
}
.t_decor_overline{
    text-decoration: overline;
}
.t_decor_linethrough{
    text-decoration: line-through;
}
.over_under_through{
    text-decoration: underline line-through overline;
}
.t_align_c{
    text-align: center;
}
.t_align_l{
    text-align: left;
}
.t_align_r{
    text-align: right;
}
.t_shadow1{
    font-size: 70px;
    color: aqua;
    text-shadow: 50px 10px 0px black;
}
.t_shadow2{
    font-size: 50px;
    color: purple;
    text-shadow: 60px 8px 0px blue
    
}